.hero {
    position: relative;
    padding: 87px 0 141px;

    @include mini-desktop {
        padding: 67px 0 121;
    }
    @include mobile {
        min-height: calc(100dvh - 128px);
    }

    &::before {
        top: 106px;
        left: 161px;
        width: 551px;
        height: 551px;
        background: #fa7515;
        filter: blur(220px);

        @include mini-desktop {
            left: 80px;
            width: 325px;
            height: 325px;
        }

        @include small-tablet {
            width: 251px;
            height: 251px;
        }
    }

    &::before,
    &::after {
        position: absolute;
        content: "";
        z-index: var(--z-index-0);
        display: inline-block;
        border-radius: 50%;
        opacity: 0.3;

    }

    &::after {
        right: 0;
        bottom: 0;
        width: 525px;
        height: 525px;
        fill: var(--success-color70);
        filter: blur(180px);

        @include small-tablet {
            top: 20px;
            left: 40px;
            width: 225px;
            height: 225px;
        }

    }

    &__container {
        @include flex-justify-between;
        align-items: flex-end;
        gap: 15px;
        flex-wrap: wrap;

        @include mini-desktop {
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 50px;
        }
    }

    &__left {
        max-width: 590px;
    }

    &__title {
        margin-bottom: 114px;
        font-weight: 700;
        font-size: 80px;
        line-height: 120%;
        letter-spacing: -0.04em;
        color: var(--neutral-color100);

        @include mini-desktop {
            margin-bottom: 74px;
        }

        @include tablet {
            font-size: 60px;
            margin-bottom: 44px;
        }

        @include mobile {
            font-size: 48px;
            margin-bottom: 38px;
        }
        @include mobile {
            font-size: 38x;
            margin-bottom: 30px;
        }
    }

    &__subtitle {
        margin-bottom: 69px;
    }

    &__form {
        @include flex-align-center;
        gap: 16px;

        @include mini-desktop {
            justify-content: center;
            ;
        }
        @include small-mobile {
            flex-direction: column;
            ;
        }
    }

    &__input {
        min-width: 280px;
        padding-bottom: 23px;
        border-bottom: 1px solid var(--neutral-color40);
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: var(--neutral-color100);
        background-color: transparent;

        @include small-tablet {
            padding-bottom: 13px;
        }

        @include mobile {
            max-width: 120px;
            min-width: 180px;
        }
    }

    &__btn {
        padding: 16px 44px;
        color: var(--neutral-color10);
        background-color: var(--neutral-color100);

        @include small-tablet {
            padding: 12px 32px;
        }
    }

    &__right {
        position: relative;
        margin-right: 20px;

        @include mini-desktop {
            display: none;
        }
    }

    &__sales {
        padding: 20px;
        margin-bottom: 29px;

        @include small-desctop {
            max-width: 320px;
        }

        &-title {
            font-weight: 700;
            font-size: 20px;
            line-height: 150%;
            letter-spacing: -0.03em;
            color: #1d1e25;
        }

        &-img {
            @include small-desctop {
                max-width: 280px;
            }
        }
    }

    &__customer {
        position: absolute;
        top: -60px;
        right: -140px;
        padding: 16px 18px;
        display: inline-block;

        @include small-desctop {
            top: -140px;
            right: -30px;
        }

        @include mini-desktop {
            top: 0;
            right: -200px;
        }

        &-title {
            margin-bottom: 12px;
            font-weight: 700;
            font-size: 16px;
            line-height: 187%;
            letter-spacing: -0.03em;
            color: #1d1e25;
        }
    }

    &__sales,
    &__customer {
        box-shadow: 20px 40px 80px 0 #5960871f;
        background: #fff;
        border-radius: 8px;
    }

    &__stats {
        border-radius: 8px;
        padding: 20px 29px;
        box-shadow: 20px 40px 80px 0 #2d33511f;
        background: #000;
        text-align: left;

        &-head {
            & th {
                font-weight: 600;
                font-size: 14px;
                line-height: 143%;
                color: #5c616f;
            }
        }

        &-body {
            & th {
                font-weight: 700;
                font-size: 20px;
                line-height: 130%;
                color: #fff;

                &:nth-child(1) {
                    padding-right: 80px;
                }
            }

            &-num {
                display: inline-block;
                margin-right: 3px;
                font-weight: 600;
                font-size: 14px;
                line-height: 143%;

                &--green {
                    color: #60d39c;

                    &::before {
                        background: url("../../../icons/green-arrow-up.svg");
                    }
                }

                &--red {
                    color: #e35454;

                    &::before {
                        background: url("../../../icons/red-arrow-down.svg");
                    }
                }

                &--green::before,
                &--red::before {
                    content: "";
                    display: inline-block;
                    width: 12px;
                    height: 12px;
                }
            }

            &-text {
                font-weight: 400;
                font-size: 14px;
                line-height: 157%;
                letter-spacing: -0.04em;
                color: #5c616e;
            }
        }


    }
}